In [9]:
import numpy as np
import pandas as pd

pd.set_option("display.max_columns", 120)
START = "2022-01-01"
END = "2025-12-18"

In [12]:
pip install yfinance

Note: you may need to restart the kernel to use updated packages.

  DEPRECATION: Building 'multitasking' using the legacy setup.py bdist_wheel mechanism, which will be removed in a future version. pip 25.3 will enforce this behaviour change. A possible replacement is to use the standardized build interface by setting the `--use-pep517` option, (possibly combined with `--no-build-isolation`), or adding a `pyproject.toml` file to the source tree of 'multitasking'. Discussion can be found at https://github.com/pypa/pip/issues/6334

Collecting yfinance
  Downloading yfinance-1.0-py2.py3-none-any.whl.metadata (6.0 kB)
Requirement already satisfied: pandas>=1.3.0 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (2.2.3)
Requirement already satisfied: numpy>=1.16.5 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (2.1.3)
Requirement already satisfied: requests>=2.31 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (2.32.3)
Collecting multitasking>=0.0.7 (from yfinance)
  Downloading multitasking-0.0.12.tar.gz (19 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (4.3.7)
Requirement already satisfied: pytz>=2022.5 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (2.4.2)
Collecting peewee>=3.16.2 (from yfinance)
  Downloading peewee-3.18.3.tar.gz (3.0 MB)
     ---------------------------------------- 0.0/3.0 MB ? eta -:--:--
     ------ --------------------------------- 0.5/3.0 MB 3.3 MB/s eta 0:00:01
     ----------------- ---------------------- 1.3/3.0 MB 3.6 MB/s eta 0:00:01
     --------------------------- ------------ 2.1/3.0 MB 3.6 MB/s eta 0:00:01
     -------------------------------------- - 2.9/3.0 MB 3.5 MB/s eta 0:00:01
     ---------------------------------------- 3.0/3.0 MB 3.3 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (4.12.3)
Collecting curl_cffi<0.14,>=0.7 (from yfinance)
  Downloading curl_cffi-0.13.0-cp39-abi3-win_amd64.whl.metadata (13 kB)
Requirement already satisfied: protobuf>=3.19.0 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (5.29.3)
Collecting websockets>=13.0 (from yfinance)
  Downloading websockets-15.0.1-cp313-cp313-win_amd64.whl.metadata (7.0 kB)
Requirement already satisfied: cffi>=1.12.0 in c:\users\user\anaconda3\lib\site-packages (from curl_cffi<0.14,>=0.7->yfinance) (1.17.1)
Requirement already satisfied: certifi>=2024.2.2 in c:\users\user\anaconda3\lib\site-packages (from curl_cffi<0.14,>=0.7->yfinance) (2025.4.26)
Requirement already satisfied: soupsieve>1.2 in c:\users\user\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: pycparser in c:\users\user\anaconda3\lib\site-packages (from cffi>=1.12.0->curl_cffi<0.14,>=0.7->yfinance) (2.21)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.17.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.3.0)
Downloading yfinance-1.0-py2.py3-none-any.whl (127 kB)
Downloading curl_cffi-0.13.0-cp39-abi3-win_amd64.whl (1.6 MB)
   ---------------------------------------- 0.0/1.6 MB ? eta -:--:--
   ------------------------- -------------- 1.0/1.6 MB 4.8 MB/s eta 0:00:01
   ---------------------------------------- 1.6/1.6 MB 4.6 MB/s eta 0:00:00
Downloading websockets-15.0.1-cp313-cp313-win_amd64.whl (176 kB)
Building wheels for collected packages: multitasking, peewee
  Building wheel for multitasking (setup.py): started
  Building wheel for multitasking (setup.py): finished with status 'done'
  Created wheel for multitasking: filename=multitasking-0.0.12-py3-none-any.whl size=15618 sha256=9ed62ddb1fbc456efe8a46842f72d7d2db8bced9dadee1b7c60e373b8470a987
  Stored in directory: c:\users\user\appdata\local\pip\cache\wheels\1e\df\0f\e2bbb22d689b30c681feb5410ab64a2523437b34c8ecfc6476
  Building wheel for peewee (pyproject.toml): started
  Building wheel for peewee (pyproject.toml): finished with status 'done'
  Created wheel for peewee: filename=peewee-3.18.3-py3-none-any.whl size=139181 sha256=f59153c69da700c7969c46a887744344e3a486b030d7a86537aeec0c968f0a8e
  Stored in directory: c:\users\user\appdata\local\pip\cache\wheels\8c\a9\a4\df972cd49f865ffde174d9c5b26f14f08f8a363ed31e10ff91
Successfully built multitasking peewee
Installing collected packages: peewee, multitasking, websockets, curl_cffi, yfinance

   ---------------------------------------- 0/5 [peewee]
   ---------------------------------------- 0/5 [peewee]
   ---------------- ----------------------- 2/5 [websockets]
   ---------------- ----------------------- 2/5 [websockets]
   ------------------------ --------------- 3/5 [curl_cffi]
   -------------------------------- ------- 4/5 [yfinance]
   -------------------------------- ------- 4/5 [yfinance]
   -------------------------------- ------- 4/5 [yfinance]
   ---------------------------------------- 5/5 [yfinance]

Successfully installed curl_cffi-0.13.0 multitasking-0.0.12 peewee-3.18.3 websockets-15.0.1 yfinance-1.0

In [13]:
# --- Yahoo Finance via yfinance: US tickers (real market yh_df) ---
tickers = ["SPY", "QQQ", "TLT", "GLD", "EEM"]
# SPY : S&P 500 index
# QQQ : Nasdaq-100 index
# TLT : U.S. Treasury bonds with 20+ year maturity
# GLD : Physical gold prices
# EEM : MSCI Emerging Markets index

try:
    import yfinance as yf
except Exception as e:
    yf = None
    print("Could not import yfinance:", type(e).__name__, str(e))

if yf is not None:
    try:
        yh_df = yf.download(tickers, start=START, end=END, auto_adjust=True, progress=False)
    except Exception as e:
        yh_df = pd.DataFrame()
        print("yfinance download failed:", type(e).__name__, str(e))
else:
    yh_df = pd.DataFrame()

# Convert to long format: date, ticker, close, volume
if isinstance(yh_df, pd.DataFrame) and yh_df.shape[0] > 0:
    if isinstance(yh_df.columns, pd.MultiIndex):
        close = yh_df["Close"].copy()
        vol = yh_df["Volume"].copy()
    else:
        close = yh_df[["Close"]].rename(columns={"Close": tickers[0]})
        vol = yh_df[["Volume"]].rename(columns={"Volume": tickers[0]})

    close.index.name = "date"
    vol.index.name = "date"

    us_close_long = close.reset_index().melt(id_vars="date", var_name="ticker", value_name="close")
    us_vol_long = vol.reset_index().melt(id_vars="date", var_name="ticker", value_name="volume")
    us_mkt = us_close_long.merge(us_vol_long, on=["date","ticker"], how="inner").dropna(subset=["close"])
else:
    us_mkt = pd.DataFrame(columns=["date","ticker","close","volume"])

us_mkt.head(), us_mkt.shape

(        date ticker      close    volume
 0 2022-01-03    EEM  44.624969  27572700
 1 2022-01-04    EEM  44.470776  24579500
 2 2022-01-05    EEM  43.745167  46425100
 3 2022-01-06    EEM  43.944710  34288700
 4 2022-01-07    EEM  44.343792  32640900,
 (4970, 4))

In [19]:
spy_df = us_mkt[us_mkt["ticker"] == "SPY"].copy()
spy_df

           date ticker       close     volume
2982 2022-01-03    SPY  451.875153   72668200
2983 2022-01-04    SPY  451.723785   71178700
2984 2022-01-05    SPY  443.049713  104538900
2985 2022-01-06    SPY  442.633514   86858900
2986 2022-01-07    SPY  440.883545   85111600
...         ...    ...         ...        ...
3971 2025-12-11    SPY  687.139526   86173700
3972 2025-12-12    SPY  679.751404  113160300
3973 2025-12-15    SPY  678.724426   90811000
3974 2025-12-16    SPY  676.869934  122030600
3975 2025-12-17    SPY  669.421936  110625200

[994 rows x 4 columns]

In [46]:
spy_close_np = spy_df["close"].to_numpy()
spy_close_np

array([451.87515259, 451.7237854 , 443.04971313, 442.6335144 ,
       440.88354492, 440.33499146, 444.34564209, 445.54696655,
       439.40795898, 439.587677  , 431.80270386, 427.31903076,
       422.58947754, 414.29379272, 416.05319214, 410.97363281,
       409.94259644, 407.91827393, 418.04904175, 425.5786438 ,
       428.4541626 , 432.61621094, 422.44760132, 424.43405151,
       423.0718689 , 426.55285645, 432.79598999, 425.02050781,
       416.63964844, 415.27755737, 421.97470093, 422.44760132,
       413.42352295, 410.74658203, 406.33865356, 399.13070679,
       405.13720703, 414.07623291, 413.01681519, 406.72647095,
       414.2086792 , 412.14657593, 408.79797363, 396.74697876,
       393.73892212, 404.29537964, 402.46975708, 397.35238647,
       394.44836426, 403.12246704, 412.06137085, 417.21664429,
       421.78634644, 421.6630249 , 426.5970459 , 421.10317993,
       427.45098877, 429.53848267, 432.59387207, 437.94543457,
       435.24118042, 428.54217529, 429.75680542, 433.43829346,
       427.96347046, 423.68405151, 425.81893921, 424.68041992,
       417.42160034, 415.87496948, 420.63824463, 415.40057373,
       415.57131958, 422.27978516, 421.96664429, 415.65679932,
       404.25152588, 406.59521484, 394.8197937 , 395.92999268,
       405.93093872, 390.92953491, 393.28268433, 395.08547974,
       407.11709595, 392.64691162, 390.30325317, 377.80679321,
       378.67974854, 372.66397095, 372.27493286, 381.17520142,
       379.62863159, 387.43771362, 371.81951904, 369.54226685,
       369.70358276, 376.62072754, 373.74569702, 377.04772949,
       384.58166504, 394.0227356 , 391.81192017, 388.64276123,
       396.04379272, 389.54418945, 390.73022461, 394.47824097,
       390.18936157, 380.90960693, 369.86486816, 355.82180786,
       354.74954224, 359.80691528, 347.89877319, 348.64883423,
       357.42550659, 356.77746582, 360.27484131, 371.72937012,
       370.30947876, 362.74301147, 362.4475708 , 359.50286865,
       363.30523682, 363.99136353, 365.22073364, 370.69067383,
       370.38577271, 366.15460205, 362.91452026, 361.00866699,
       360.13192749, 367.01226807, 363.98190308, 373.8163147 ,
       376.19873047, 380.02960205, 376.50372314, 376.96109009,
       372.50131226, 382.17376709, 386.96725464, 392.60864258,
       391.44604492, 388.86358643, 394.95300293, 394.68612671,
       394.01904297, 393.56158447, 391.9987793 , 400.23236084,
       400.23236084, 407.00784302, 408.68499756, 409.48553467,
       406.57901001, 407.76074219, 402.28118896, 393.90466309,
       392.95172119, 394.20965576, 399.77490234, 386.24295044,
       383.68896484, 379.47698975, 376.58944702, 377.7711792 ,
       373.78775024, 372.37734985, 379.06716919, 381.54489136,
       387.47225952, 391.63668823, 374.60726929, 376.03677368,
       371.76751709, 368.93130493, 371.79238892, 367.52471924,
       361.11373901, 358.08032227, 352.08081055, 348.59780884,
       347.70791626, 354.54956055, 347.14343262, 341.77529907,
       350.7986145 , 361.66873169, 360.82662964, 357.10443115,
       347.14343262, 344.49279785, 342.31115723, 341.18203735,
       350.18621826, 342.2059021 , 350.99957275, 355.12362671,
       352.60705566, 349.65042114, 358.1473999 , 362.52987671,
       368.31893921, 365.54400635, 363.59191895, 372.24209595,
       369.55328369, 367.93618774, 358.70233154, 355.00888062,
       360.11859131, 363.56326294, 365.52487183, 357.99429321,
       377.66760254, 381.32281494, 378.07907104, 381.3036499 ,
       378.39477539, 377.23699951, 378.9498291 , 377.57192993,
       382.65292358, 385.06420898, 384.97805786, 378.83496094,
       378.18426514, 390.09732056, 389.81033325, 389.36056519,
       382.35629272, 376.84466553, 376.20352173, 379.1506958 ,
       376.31835938, 381.74386597, 384.63363647, 382.17440796,
       372.82577515, 368.4241333 , 365.30001831, 365.79989624,
       371.26953125, 365.97290039, 368.07815552, 366.62664795,
       362.07019043, 368.58761597, 367.6166687 , 366.06903076,
       368.89520264, 364.68490601, 373.04785156, 372.83636475,
       375.4510498 , 380.19967651, 381.5838623 , 383.0642395 ,
       382.36251831, 376.32574463, 373.58621216, 380.54574585,
       385.11178589, 384.69845581, 384.84255981, 389.07217407,
       389.96615601, 385.07324219, 390.73519897, 394.88778687,
       400.63619995, 396.37774658, 393.95532227, 399.10775757,
       394.74362183, 391.32150269, 392.23471069, 396.83914185,
       396.65655518, 397.94467163, 392.46539307, 391.48492432,
       383.63134766, 383.10266113, 385.14059448, 381.02636719,
       382.32406616, 380.91107178, 379.4498291 , 382.40097046,
       388.53381348, 388.80303955, 382.84313965, 383.46798706,
       376.39303589, 370.96191406, 370.43322754, 376.55645752,
       374.20132446, 380.76678467, 376.3145752 , 379.93310547,
       384.92184448, 378.36029053, 379.38311768, 381.87261963,
       382.58673096, 381.72790527, 387.27627563, 389.54391479,
       395.03433228, 396.53967285, 394.33959961, 393.30715942,
       394.84140015, 395.24664307, 395.35275269, 393.74133301,
       398.97125244, 397.9967041 , 399.42480469, 399.68530273,
       399.61776733, 397.43701172, 397.74578857, 398.1607666 ,
       391.84042358, 390.1807251 , 397.94842529, 401.34506226,
       400.9397583 , 396.4335022 , 393.71240234, 390.92376709,
       398.1607666 , 398.26687622, 396.52035522, 398.37301636,
       397.67831421, 397.15722656, 398.5274353 , 395.86416626,
       400.66955566, 404.52935791, 403.94067383, 404.10476685,
       399.56954956, 396.67474365, 400.10986328, 405.29162598,
       405.44598389, 403.19769287, 407.02850342, 412.9145813 ,
       412.12335205, 413.02075195, 411.59259033, 414.08215332,
       414.82516479, 418.58840942, 421.34805298, 421.84991455,
       427.07980347, 425.62503052, 423.4168396 , 421.24737549,
       422.76797485, 419.5718689 , 417.85760498, 422.43869019,
       422.65176392, 424.31759644, 429.32485962, 429.81878662,
       429.17959595, 425.81878662, 424.74371338, 425.81878662,
       428.53060913, 431.97857666, 435.40710449, 435.13595581,
       436.64678955, 439.8913269 , 440.86959839, 437.94464111,
       437.94464111, 439.90103149, 441.10198975, 441.16983032,
       438.24484253, 442.53543091, 443.37799072, 442.10925293,
       435.959198  , 434.70974731, 432.74371338, 436.52093506,
       434.62261963, 431.71707153, 431.87197876, 431.62017822,
       434.0027771 , 428.94711304, 425.79943848, 422.55487061,
       422.75827026, 425.5088501 , 424.35632324, 429.08267212,
       423.13601685, 426.11904907, 428.82119751, 435.01971436,
       436.8114624 , 436.17224121, 436.98583984, 435.09713745,
       432.17227173, 430.84536743, 431.49435425, 434.33206177,
       431.94946289, 432.45321655, 436.18188477, 430.92666626,
       431.17932129, 430.28518677, 426.32946777, 419.28289795,
       418.34011841, 420.09933472, 413.92752075, 414.09274292,
       416.49346924, 415.48266602, 415.31744385, 409.75796509,
       412.74179077, 412.58627319, 417.48486328, 420.15768433,
       422.34457397, 424.07452393, 421.48922729, 419.38983154,
       423.8024292 , 423.78295898, 418.13604736, 414.46206665,
       409.36917114, 408.65963745, 411.74072266, 405.83132935,
       400.97164917, 399.15411377, 403.92633057, 406.46307373,
       410.79794312, 418.67062378, 422.49032593, 423.46224976,
       424.66741943, 424.97842407, 421.66412354, 428.24411011,
       427.83596802, 436.1362915 , 437.05957031, 437.59417725,
       438.13845825, 441.51104736, 440.54885864, 442.24969482,
       442.5218811 , 441.72488403, 442.16223145, 441.85119629,
       443.59100342, 446.21524048, 443.87286377, 443.78540039,
       441.99700928, 445.36962891, 447.28433228, 449.02407837,
       451.07492065, 457.29528809, 458.7628479 , 458.00753784,
       460.5838623 , 463.38464355, 456.96334839, 461.29626465,
       462.22332764, 464.17507935, 465.01428223, 465.18997192,
       463.84332275, 461.24743652, 457.48062134, 456.00698853,
       456.63153076, 463.15042114, 462.44781494, 465.06311035,
       464.85821533, 465.1802063 , 463.47241211, 460.89614868,
       464.99475098, 470.79153442, 471.78689575, 473.16290283,
       473.68011475, 476.25640869, 475.65139771, 479.41824341,
       479.04742432, 471.23065186, 477.39825439, 482.4239502 ,
       480.66732788, 482.06292725, 486.08343506, 486.29818726,
       489.10870361, 488.89398193, 482.16036987, 486.54214478,
       489.8991394 , 487.45947266, 484.77581787, 485.21496582,
       495.25671387, 495.59829712, 493.78314209, 494.70046997,
       494.04666138, 495.82269287, 500.4776001 , 499.94094849,
       494.94442749, 497.45245361, 502.39038086, 499.37490845,
       498.94552612, 504.31277466, 503.52233887, 502.52697754,
       499.07635498, 502.04238892, 504.83233643, 509.50167847,
       511.18539429, 510.21627808, 508.80673218, 507.86694336,
       512.13494873, 512.03704834, 511.14633179, 507.89633179,
       508.45422363, 502.24795532, 507.49487305, 507.77880859,
       508.36621094, 503.27581787, 507.07403564, 500.07485962,
       493.80987549, 492.90921021, 489.99206543, 488.98382568,
       484.71582031, 489.17959595, 494.98449707, 494.74960327,
       492.87008667, 497.53945923, 499.30148315, 491.39190674,
       489.79632568, 494.37756348, 500.50552368, 505.67419434,
       506.23226929, 506.28106689, 509.19824219, 509.85412598,
       509.92263794, 512.26226807, 518.60552979, 517.53851318,
       518.28253174, 518.87969971, 520.15228271, 518.65454102,
       514.86608887, 518.27270508, 518.63494873, 515.00311279,
       511.58679199, 516.24627686, 516.66729736, 517.24487305,
       523.39239502, 523.38262939, 522.74627686, 524.36151123,
       525.62432861, 529.94134521, 531.00830078, 531.33129883,
       535.5602417 , 536.92089844, 535.46221924, 534.7444458 ,
       533.00616455, 535.05871582, 535.7265625 , 536.57104492,
       534.45959473, 535.55957031, 539.16375732, 541.56982422,
       544.69274902, 545.3213501 , 545.85162354, 551.25299072,
       546.49975586, 549.94689941, 551.45922852, 554.72943115,
       546.95147705, 542.74829102, 539.14404297, 544.70269775,
       543.84820557, 531.52325439, 528.75378418, 534.67572021,
       534.98999023, 532.27947998, 540.93145752, 533.2713623 ,
       523.3427124 , 508.10107422, 512.78552246, 509.35806274,
       521.13311768, 523.43103027, 523.70605469, 532.31878662,
       533.99804688, 543.15093994, 544.36865234, 549.57366943,
       548.67993164, 550.56549072, 546.24438477, 552.04846191,
       550.73242188, 551.48864746, 548.28710938, 548.33618164,
       553.57061768, 542.17871094, 541.06896973, 539.75299072,
       530.66894531, 536.61029053, 538.94769287, 544.47668457,
       549.06304932, 551.93066406, 552.74572754, 552.97155762,
       551.331604  , 560.73968506, 559.77032471, 561.16918945,
       562.77490234, 561.53363037, 563.76000977, 562.94232178,
       565.19818115, 560.13482666, 560.37127686, 559.34686279,
       564.42974854, 559.32714844, 564.61694336, 568.52783203,
       567.53283691, 570.93133545, 575.60064697, 571.12835693,
       573.61077881, 573.65991211, 575.86651611, 574.9208374 ,
       574.61553955, 569.36505127, 570.59649658, 570.39929199,
       572.16271973, 573.08868408, 571.35498047, 560.15460205,
       562.51867676, 561.30712891, 568.09436035, 582.22027588,
       586.72210693, 589.26361084, 589.82507324, 587.99285889,
       588.27856445, 584.49591064, 577.00927734, 579.37347412,
       581.49139404, 581.68835449, 584.81097412, 586.62359619,
       588.61346436, 591.68688965, 589.894104  , 593.55859375,
       594.62243652, 594.89831543, 598.59228516, 597.60723877,
       598.74017334, 595.65679932, 593.80480957, 598.39526367,
       595.31207275, 595.19378662, 597.73535156, 595.27264404,
       577.53143311, 577.35394287, 584.28863525, 587.78753662,
       594.32080078, 594.3604126 , 588.1038208 , 581.39263916,
       579.27740479, 577.85418701, 585.0793457 , 588.44970703,
       581.79779053, 582.64782715, 573.75231934, 574.64190674,
       575.43255615, 585.89971924, 584.77294922, 590.64404297,
       596.05047607, 599.40118408, 602.67272949, 600.91333008,
       592.41320801, 597.50341797, 594.82489014, 598.01739502,
       594.83477783, 590.83178711, 594.79528809, 597.20690918,
       599.28253174, 593.79693604, 597.82965088, 598.28430176,
       596.35687256, 602.6529541 , 602.62329102, 604.39251709,
       605.81585693, 603.29541016, 592.9765625 , 590.27825928,
       587.34277344, 587.63922119, 578.25939941, 587.28344727,
       576.9942627 , 570.16442871, 576.29248047, 566.06262207,
       569.23535156, 554.07342529, 549.46746826, 552.38323975,
       545.01977539, 556.27752686, 560.56719971, 554.50830078,
       560.54736328, 558.92645264, 559.11083984, 569.12359619,
       570.49176025, 563.68109131, 562.184021  , 550.8626709 ,
       554.56048584, 556.12683105, 559.6461792 , 532.06640625,
       500.91763306, 500.02539062, 492.19360352, 543.88348389,
       520.05102539, 529.33026123, 534.4654541 , 532.96844482,
       521.12164307, 521.86517334, 509.44335938, 522.69799805,
       530.79736328, 541.97009277, 545.88604736, 546.09423828,
       549.53424072, 549.75231934, 553.6484375 , 561.86688232,
       558.64489746, 553.97558594, 556.30529785, 560.18151855,
       559.46777344, 577.95672607, 581.7734375 , 582.51696777,
       585.36224365, 589.06994629, 589.71435547, 587.73156738,
       577.82781982, 578.05584717, 574.11022949, 586.04626465,
       582.65576172, 584.95574951, 584.30151367, 587.59289551,
       590.94360352, 590.78503418, 587.92980957, 593.96728516,
       594.50262451, 597.87335205, 596.16809082, 598.53741455,
       591.84576416, 597.47674561, 592.37121582, 592.28192139,
       590.89093018, 596.72747803, 603.31964111, 603.65771484,
       608.38061523, 611.40325928, 614.32653809, 614.12768555,
       616.91168213, 621.77380371, 617.14038086, 616.80236816,
       620.50109863, 622.25109863, 620.06359863, 621.24676514,
       618.59204102, 620.66015625, 624.45837402, 624.0010376 ,
       625.18426514, 625.27374268, 630.59326172, 630.80200195,
       633.46673584, 633.30767822, 631.63720703, 630.84179688,
       628.47540283, 618.17437744, 627.57049561, 624.38873291,
       629.17138672, 628.64434814, 633.54626465, 632.29345703,
       639.02490234, 641.21234131, 641.27197266, 639.77062988,
       639.63134766, 636.16125488, 634.47094727, 631.92553711,
       641.62994385, 638.80603027, 641.48077393, 642.94238281,
       645.21929932, 641.37139893, 636.61865234, 640.06884766,
       645.41815186, 643.54888916, 645.12982178, 646.62127686,
       648.49060059, 653.87969971, 653.66088867, 657.14093018,
       656.23614502, 655.4208374 , 658.48327637, 661.74462891,
       664.87536621, 661.25610352, 659.15222168, 656.11126709,
       659.87017822, 661.72467041, 664.21728516, 666.48065186,
       667.24829102, 667.23840332, 669.63128662, 667.14862061,
       671.12689209, 669.18261719, 651.09606934, 661.08654785,
       660.27893066, 663.21026611, 658.69366455, 662.43261719,
       669.32220459, 669.31219482, 665.83251953, 669.78088379,
       675.25469971, 683.22113037, 685.0357666 , 685.36480713,
       677.8270874 , 680.05053711, 681.32678223, 673.25061035,
       675.58374023, 668.33514404, 668.99316406, 679.43237305,
       680.98773193, 681.36663818, 670.05999756, 669.95037842,
       663.70880127, 658.13531494, 660.67779541, 650.60754395,
       657.08837891, 666.75976562, 673.03125   , 677.67755127,
       681.37658691, 678.26580811, 679.52209473, 681.87512207,
       682.37365723, 683.6697998 , 681.61590576, 681.02758789,
       685.54431152, 687.13952637, 679.75140381, 678.72442627,
       676.86993408, 669.42193604])

In [21]:
SPY_close_series = pd.Series(
    data=spy_close_np,
    index=spy_df["date"].values,
    name="SPY_close"
)
SPY_close_series

2022-01-03    451.875153
2022-01-04    451.723785
2022-01-05    443.049713
2022-01-06    442.633514
2022-01-07    440.883545
                 ...
2025-12-11    687.139526
2025-12-12    679.751404
2025-12-15    678.724426
2025-12-16    676.869934
2025-12-17    669.421936
Name: SPY_close, Length: 994, dtype: float64

In [18]:
spy_mean = SPY_close_series.mean()
spy_min = SPY_close_series.min()
spy_max = SPY_close_series.max()

spy_mean, spy_min, spy_max

(np.float64(485.6085863631496), 341.1820373535156, 687.1395263671875)

In [22]:
last_closes = (
    us_mkt.sort_values("date")
          .groupby("ticker")["close"]
          .last()
          .to_dict()
)
last_closes

{'EEM': 52.599998474121094,
 'GLD': 399.2900085449219,
 'QQQ': 599.6373901367188,
 'SPY': 669.4219360351562,
 'TLT': 87.45963287353516}

In [23]:
last_close_series = pd.Series(last_closes).sort_values(ascending=False)

last_close_series

SPY    669.421936
QQQ    599.637390
GLD    399.290009
TLT     87.459633
EEM     52.599998
dtype: float64

In [42]:
spy_series = (
    us_mkt[us_mkt["ticker"] == "SPY"]
    .set_index("date")["close"]
    .rename("SPY_close")
)
spy_series

date
2022-01-03    451.875153
2022-01-04    451.723785
2022-01-05    443.049713
2022-01-06    442.633514
2022-01-07    440.883545
                 ...
2025-12-11    687.139526
2025-12-12    679.751404
2025-12-15    678.724426
2025-12-16    676.869934
2025-12-17    669.421936
Name: SPY_close, Length: 994, dtype: float64

In [44]:
mid_rate_series = spy_series.rolling(5).mean().rename("mid_rate")
mid_rate_series

date
2022-01-03           NaN
2022-01-04           NaN
2022-01-05           NaN
2022-01-06           NaN
2022-01-07    446.033142
                 ...
2025-12-11    683.799426
2025-12-12    683.015747
2025-12-15    682.437451
2025-12-16    681.605920
2025-12-17    678.381445
Name: mid_rate, Length: 994, dtype: float64

In [45]:
aligned_df = pd.DataFrame({
    "mid_rate": mid_rate_series,
    "SPY_close": spy_series
})

aligned_df.head()

              mid_rate   SPY_close
date
2022-01-03         NaN  451.875153
2022-01-04         NaN  451.723785
2022-01-05         NaN  443.049713
2022-01-06         NaN  442.633514
2022-01-07  446.033142  440.883545

In [28]:
# Versión NumPy (sin alineación)
n = min(len(spy_series), len(mid_rate_series))

spy_np = spy_series.values[:n]
mid_np = mid_rate_series.values[:n]

np.column_stack([spy_np, mid_np])[:5]

array([[451.87515259,          nan],
       [451.7237854 ,          nan],
       [443.04971313,          nan],
       [442.6335144 ,          nan],
       [440.88354492, 446.03314209]])

In [29]:
us_mkt_nan = us_mkt.copy()
us_mkt_nan

           date ticker      close    volume
0    2022-01-03    EEM  44.624969  27572700
1    2022-01-04    EEM  44.470776  24579500
2    2022-01-05    EEM  43.745167  46425100
3    2022-01-06    EEM  43.944710  34288700
4    2022-01-07    EEM  44.343792  32640900
...         ...    ...        ...       ...
4965 2025-12-11    TLT  87.848114  26778700
4966 2025-12-12    TLT  87.001404  47030100
4967 2025-12-15    TLT  87.061180  28611800
4968 2025-12-16    TLT  87.539314  41018700
4969 2025-12-17    TLT  87.459633  24668300

[4970 rows x 4 columns]

In [30]:
np.random.seed(42)

In [32]:
nan_idx = us_mkt_nan.sample(frac=0.01).index
us_mkt_nan.loc[nan_idx, "close"] = np.nan
nan_idx

Index([1558, 3057, 1249, 2891,   35, 1931,  388, 1568, 2515, 4572, 1682, 3299,
       4520, 1512, 3858, 2928, 4606, 2029, 2903, 2909, 3582,  671, 3781, 2328,
       3011, 1879,  483, 3171, 2522, 1100, 4909, 2124, 4307,  482, 1088,  107,
         39,  570, 3374, 1120, 3205,  150, 1446, 4906, 3772, 2285, 1155, 1084,
       2519, 1147],
      dtype='int64')

In [33]:
us_drop = us_mkt_nan.dropna(subset=["close"])
us_drop

           date ticker      close    volume
0    2022-01-03    EEM  44.624969  27572700
1    2022-01-04    EEM  44.470776  24579500
2    2022-01-05    EEM  43.745167  46425100
3    2022-01-06    EEM  43.944710  34288700
4    2022-01-07    EEM  44.343792  32640900
...         ...    ...        ...       ...
4965 2025-12-11    TLT  87.848114  26778700
4966 2025-12-12    TLT  87.001404  47030100
4967 2025-12-15    TLT  87.061180  28611800
4968 2025-12-16    TLT  87.539314  41018700
4969 2025-12-17    TLT  87.459633  24668300

[4870 rows x 4 columns]

In [34]:
us_fill = us_mkt_nan.copy()
median_by_ticker = us_fill.groupby("ticker")["close"].transform("median")
us_fill["close"] = us_fill["close"].fillna(median_by_ticker)

us_mkt.shape, us_drop.shape, us_fill.shape

((4970, 4), (4870, 4), (4970, 4))

In [35]:
dup_df = pd.concat([us_mkt.tail(5), us_mkt.tail(5)], ignore_index=True)
dup_df

        date ticker      close    volume
0 2025-12-11    TLT  87.848114  26778700
1 2025-12-12    TLT  87.001404  47030100
2 2025-12-15    TLT  87.061180  28611800
3 2025-12-16    TLT  87.539314  41018700
4 2025-12-17    TLT  87.459633  24668300
5 2025-12-11    TLT  87.848114  26778700
6 2025-12-12    TLT  87.001404  47030100
7 2025-12-15    TLT  87.061180  28611800
8 2025-12-16    TLT  87.539314  41018700
9 2025-12-17    TLT  87.459633  24668300

In [36]:
dup_df["is_duplicate"] = dup_df.duplicated()

dup_df

        date ticker      close    volume  is_duplicate
0 2025-12-11    TLT  87.848114  26778700         False
1 2025-12-12    TLT  87.001404  47030100         False
2 2025-12-15    TLT  87.061180  28611800         False
3 2025-12-16    TLT  87.539314  41018700         False
4 2025-12-17    TLT  87.459633  24668300         False
5 2025-12-11    TLT  87.848114  26778700          True
6 2025-12-12    TLT  87.001404  47030100          True
7 2025-12-15    TLT  87.061180  28611800          True
8 2025-12-16    TLT  87.539314  41018700          True
9 2025-12-17    TLT  87.459633  24668300          True

In [37]:
dup_clean = dup_df.drop_duplicates()

dup_clean.shape

(10, 5)

In [38]:
group_stats = (
    us_mkt
    .groupby("ticker")
    .agg(
        mean_close=("close", "mean"),
        median_close=("close", "median"),
        max_volume=("volume", "max")
    )
    .sort_values("mean_close", ascending=False)
)

group_stats

        mean_close  median_close  max_volume
ticker
SPY     485.608586    460.740005   256611400
QQQ     411.276965    400.214539   198685800
GLD     220.130422    187.864998    62025000
TLT      91.395622     88.549713   131353500
EEM      40.462350     39.107409   134225700

In [39]:
last_close_df = pd.DataFrame(last_closes, index=["last_close"])

# Convertir a formato largo
last_close_long = last_close_df.melt(
    var_name="ticker",
    value_name="last_close"
)

last_close_long

  ticker  last_close
0    EEM   52.599998
1    GLD  399.290009
2    QQQ  599.637390
3    SPY  669.421936
4    TLT   87.459633

In [41]:
us_wide = (
    us_mkt
    .pivot(index="date", columns="ticker", values="close")
    .head(50)
)

us_wide.head(50)

ticker            EEM         GLD         QQQ         SPY         TLT
date
2022-01-03  44.624969  168.330002  391.679413  451.875153  125.295387
2022-01-04  44.470776  169.570007  386.599213  451.723785  124.774399
2022-01-05  43.745167  169.059998  374.722382  443.049713  124.097084
2022-01-06  43.944710  166.990005  374.459106  442.633514  124.418343
2022-01-07  44.343792  167.750000  370.402679  440.883545  123.524071
2022-01-10  44.343792  168.259995  370.646423  440.334991  123.827957
2022-01-11  45.368717  170.289993  376.214294  444.345642  124.652802
2022-01-12  46.121532  170.740005  377.706177  445.546967  124.175247
2022-01-13  45.468483  170.160004  368.257416  439.407959  125.277969
2022-01-14  45.450348  169.669998  370.548981  439.587677  123.385071
2022-01-18  44.643108  169.389999  361.324493  431.802704  121.648476
2022-01-19  44.833580  172.080002  357.355835  427.319031  122.490753
2022-01-20  45.096615  171.649994  352.714325  422.589478  123.246178
2022-01-21  44.443562  171.089996  342.934052  414.293793  124.713593
2022-01-24  43.817730  172.029999  344.503967  416.053192  123.689026
2022-01-25  43.736095  172.580002  336.517853  410.973633  123.489281
2022-01-26  43.182823  169.789993  335.991302  409.942596  121.995850
2022-01-27  42.683968  167.600006  332.607758  407.918274  124.236000
2022-01-28  42.892567  167.100006  343.041321  418.049042  124.279434
2022-01-31  44.298443  168.089996  354.011230  425.578644  123.636894
2022-02-01  44.570541  168.229996  356.419739  428.454163  123.226501
2022-02-02  44.497986  168.839996  359.315826  432.616211  123.643890
2022-02-03  44.026340  168.600006  344.747681  422.447601  122.678696
2022-02-04  44.135181  168.860001  349.096710  424.434052  120.870125
2022-02-07  44.044483  170.110001  346.288422  423.071869  120.948395
2022-02-08  44.470776  170.630005  350.179016  426.552856  120.139793
2022-02-09  45.169170  171.210007  357.599579  432.795990  120.365807
2022-02-10  44.869858  170.559998  349.506226  425.020508  118.452904
2022-02-11  44.189602  173.809998  338.419281  416.639648  120.209320
2022-02-14  43.881218  174.740005  338.838593  415.277557  118.713760
2022-02-15  44.833580  173.080002  347.263580  421.974701  117.366028
2022-02-16  45.160103  174.860001  347.175781  422.447601  118.061653
2022-02-17  44.634033  177.250000  336.849396  413.423523  118.939850
2022-02-18  44.189602  177.119995  333.007538  410.746582  120.191956
2022-02-22  43.563759  177.490005  329.662903  406.338654  120.504974
2022-02-23  43.055840  178.289993  321.218506  399.130707  118.844185
2022-02-24  42.166969  177.139999  332.012848  405.137207  118.922478
2022-02-25  42.946995  176.550003  337.161407  414.076233  119.009399
2022-02-28  42.384647  178.380005  338.165833  413.016815  121.617958
2022-03-01  41.822300  181.619995  332.988007  406.726471  123.024017
2022-03-02  41.894863  179.729996  338.575317  414.208679  118.818764
2022-03-03  41.305302  180.800003  333.738831  412.146576  120.028946
2022-03-04  40.470852  183.679993  328.902344  408.797974  122.101089
2022-03-07  38.956146  186.410004  316.772003  396.746979  121.169540
2022-03-08  39.083130  191.509995  315.299652  393.738922  119.950623
2022-03-09  40.189682  185.820007  326.649750  404.295380  118.775230
2022-03-10  39.436867  186.399994  323.022400  402.469757  117.068756
2022-03-11  38.611481  185.089996  316.323517  397.352386  117.460510
2022-03-14  37.677258  182.300003  310.248566  394.448364  114.717934
2022-03-15  37.731682  178.889999  319.980194  403.122467  114.517708